.nav-title {
  font-size: 22px;
}

nav {
  height: 100%;
}

:host {
  transition: transform 0.5s ease-in-out;
}

@media(max-width: 900px) {
  :host {
    position: absolute;
    top: 0;
    left: -280px;
    height: 100vh;
    z-index: 300;
  }
}