.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 3px;
  flex-wrap: wrap;
  height: 100%;
  position: relative;
}

.dashboard-card {
  max-width: 320px;
  width: 100%;
  min-width: 320px;
}

.hide-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.max-height {
  max-height: calc(100% - 30px);
}

.overflow {
  height: calc(100% - 40px);
  overflow-y: auto;
}

.photo {
  max-width: 81px;
}