.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 3px;
  height: 100%;
  position: relative;
}

.dashboard-card {
  max-width: 320px;
  width: 100%;
  min-width: 320px;
}

.hide-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.max-height {
  max-height: calc(100% - 30px);
}

.overflow {
  height: calc(100% - 40px);
  overflow-y: auto;
}

.photo {
  max-width: 81px;
}

@media(max-width: 1293px) {
  .dashboard-container {
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  .card.dashboard-card {
    max-width: 450px;
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
}


