.hide-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.photo-item {
  max-width: 150px;
  margin-right: 10px;
  cursor: pointer;
}

.d-flex.flex-wrap {
  max-width: 1000px;
  width: 100%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
