<div class="posts-container">
  <app-loader *ngIf="loader"></app-loader>
  <ng-container *ngIf="!loader">
    <div class="posts-grid">
      <div class="search-grid mb-3">
        <form [formGroup]="formGroup" class="d-flex">
          <div class="form-group" style="max-width: 320px;">
            <input type="text" class="form-control" formControlName="search" placeholder="Search">
          </div>
          <select formControlName="key" class="form-select" aria-label="Default select example" style="max-width: 320px; margin-left: 10px;">
            <option *ngFor="let select of titleTable" [value]="select.key">{{select.title}}</option>
          </select>
        </form>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" *ngFor="let header of titleTable" style="position: relative;">
              <div class="d-flex" #par>
                <div>{{ header.title }}</div>
                <div *ngIf="header.state" class="arrow" (click)="onClickSort(header, par)">˄</div>
                <div *ngIf="!header.state" class="arrow" (click)="onClickSort(header, par)">˅</div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="post-row" *ngFor="let row of viewPosts" (click)="navigateTo(row.id)">
            <th style="text-align: center;" scope="row">{{ row.id }}</th>
            <td style="text-align: center; color: #0d6efd;">{{ row.userId }}</td>
            <td style="color: #0d6efd;" class="title-td">
              <div class="hide-text">{{ row.title }}</div>
            </td>
            <td style="color: #0d6efd;" class="body-td">
              <div class="hide-text">{{ row.body }}</div>
            </td>
          </tr>
        </tbody>
      </table>
      <app-paginator
        [qty]="5"
        [paginationData]="allPosts"
        (changePageEmit)="onChangePage($event)"
        [resetPaginator$]="resetPaginator$"
      >

      </app-paginator>
    </div>
  </ng-container>
</div>